<!DOCTYPE html>
<html>
  <head>
  <title>Chicken Clicker</title>
  <style>
    body{
      background-image : url("/chickenclicker.png");
    }
  </style>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
